/*
    1.0 Normalize
    2.0 Radio Image
    3.0 Section Tab
    4.0 Icon Picker
    5.0 Box Shadow
    6.0 Text
    7.0 Typography
*/

/*
=========================
MARK: 1.0 Normalize
=========================
*/  
    :root {
        --customizer-color: #007cba;
        --customizer-light-grey: #f0f0f0;
        --customizer-dark-grey: #939393;
    }

    .wp-full-overlay-sidebar-content {
        background: #fff;
    }

    #customize-theme-controls .customize-pane-child.accordion-section-content > .customize-control:first-child {
        padding-top: 0;
    }

    .customize-pane-child.control-section .customize-control {
        padding: 16px 0;
        margin: 0;
        border-bottom: 1px solid var(--customizer-light-grey);
    }

    .customize-pane-child.control-section .customize-control:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    .customize-control .control-head {
        margin-bottom: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    .customize-control .customizer-control-title {
        font-size: 13px;
        color: hsl(0, 0%, 0%);
    }

    .customize-control .desc-icon {
        color: var(--customizer-dark-grey);
    }

    .customize-control .control-head .desc-icon:hover {
        color: var(--customizer-color);
    }

    .customize-control.ian-show {
        display: block;
    }

    .customize-control.ian-hide {
        display: none;
    }

    .customize-control-radio-image,
    .customize-control-section-tab,
    .customize-control-icon-picker,
    .customize-control-text,
    .customize-control-box-shadow {

    }

/*
=========================
MARK: 2.0 Radio Image
=========================
*/
    .customize-control-radio-image .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        gap: 15px;
    }

    .customize-control-radio-image .control-content .components-radio-control__option {
        display: block;
        position: relative;
    }

    .customize-control-radio-image .control-content .components-radio-control__label {
        display: block;
        height: 100%;
    }

    .customize-control-radio-image .control-content .components-radio-control__input:checked + .components-radio-control__label::after,
    .customize-control-radio-image .control-content .components-radio-control__label:hover::after {
        content: '\f147';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-family: "Dashicons";
        font-size: 30px;
        color: var(--customizer-color);
    }

    .customize-control-radio-image .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

/*
=========================
MARK: 3.0 Section Tab
=========================
*/
    .customize-control-section-tab {
        margin-inline: -12px;
        width: calc(100% + 24px);
    }

    .customize-control-section-tab .components-radio-control__option {
        display: block;
    }

    .customize-control-section-tab .content-wrapper .components-radio-control__group-wrapper {
        gap: 0;
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        background: #fff;
    }
    
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab {
        text-align: center;
        padding: 10px;
        font-weight: 600;
    }
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab.active {
        background: var(--customizer-dark-grey);
        color: #fff;
    }

/*
=========================
MARK: 4.0 Icon Picker
=========================
*/
    .customize-control-icon-picker .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    .customize-control-icon-picker .buttons-wrapper .button-item {
        flex: 1;
        display: block;
        text-align: center;
    }

    .customize-control-icon-picker .image-dropdown .preview-area {
        width: 100%;
        height: 130px;
        border: 2px dashed #000;
        margin: 10px 0;
        position: relative;
    }

    .customize-control-icon-picker .image-dropdown .preview-area .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        background: #8080805a;
        display: none;
    }

    .customize-control-icon-picker .image-dropdown .preview-area:hover .overlay {
        display: block;
    }

    .customize-control-icon-picker .image-dropdown .preview-area .image-preview {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .customize-control-icon-picker .image-dropdown .preview-area .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 22px;
    }

    .customize-control-icon-picker .image-dropdown .buttons-area {
        display: flex;
        gap: 10px;
    }

    .customize-control-icon-picker .image-dropdown .buttons-area .button-item {
        display: block;
        text-align: center;
        width: 100%;
    }

    .customize-control-icon-picker .image-dropdown .buttons-area .button-item.remove {
        color: #ff0000;
        box-shadow: inset 0 0 0 1px #ff0000;
    }

    .customize-control-icon-picker .icon-dropdown {
        margin-top: 10px;
        padding: 10px;
        background: #fff;
    }

    .customize-control-icon-picker .icon-dropdown .icon-collection {
        height: 200px !important;
    }

    .customize-control-icon-picker .icon-dropdown .icon-collection .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .customize-control-icon-picker .icon-dropdown .icon-btn {
        display: block;
        padding: 0;
    }

/*
=========================
MARK: 6.0 Text
=========================
*/
    .customize-control-text .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

/*
=========================
MARK: 7.0 Typography
=========================
*/
    .customize-control-typography .ian-menu-list {
        padding: 0;
    }

    .customize-control-typography .family-collection {
        width: 100%;
    }