/*
    1.0 Normalize
    2.0 Radio Image
    3.0 Section Tab
    4.0 Icon Picker
    5.0 Box Shadow
    6.0 Text
    7.0 Typography
    8.0 Toggle Control
    9.0 Number
    10.0 Border
    11.0 Dimension
    12.0 Radio Tab
    13.0 Color
    14.0 Builder
    15.0 Heading Toggle
*/

/*
=========================
MARK: 1.0 Normalize
=========================
*/  
    :root {
        --customizer-color: #007cba;
        --customizer-hover: #f5fafc;
        --customizer-light-grey: #f0f0f0;
        --customizer-dark-grey: #939393;
    }

    .wp-full-overlay-sidebar-content {
        background: #fff;
    }

    #customize-theme-controls .customize-pane-child.accordion-section-content > .customize-control:first-child {
        padding-top: 0;
    }

    .customize-pane-child.control-section .customize-control {
        padding: 20px 0;
        margin: 0;
        border-bottom: 1px solid var(--customizer-light-grey);
    }

    .customize-pane-child.control-section .customize-control:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    .customize-control .control-content.is-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .customize-control .control-content:not(.is-block) .control-head {
        margin-bottom: 10px;
    }

    .customize-control .control-content .control-head {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    .customize-control .customizer-control-title {
        font-size: 13px;
        color: hsl(0, 0%, 0%);
    }

    .customize-control .desc-icon {
        color: var(--customizer-dark-grey);
    }

    .customize-control .control-head .desc-icon:hover {
        color: var(--customizer-color);
    }

    .customize-control .control-content .control-head-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .components-popover.ian-dropdown-popover .components-popover__content .ian-responsive-icons .responsive-icon,
    .customize-control .control-content .control-head-wrapper .ian-responsive-icons .responsive-icon {
        font-size: 13px;
        line-height: unset;
        height: unset;
    }

    .components-popover.ian-dropdown-popover .components-popover__content .ian-responsive-icons .responsive-icon:hover,
    .customize-control .control-content .control-head-wrapper .ian-responsive-icons .responsive-icon:hover {
        color: var(--customizer-color);
    }

    .ian-dropdown-popover.typography-popover .typography-block .block-head .responsive-icon

    .customize-control.ian-show {
        display: block;
    }

    .customize-control.ian-hidden-control,
    .customize-control.ian-hide {
        display: none;
    }

    .customize-control-radio-image,
    .customize-control-section-tab,
    .customize-control-icon-picker,
    .customize-control-text,
    .customize-control-box-shadow {

    }

    /* Chrome, Edge, Safari */
    .wp-full-overlay-sidebar-content::-webkit-scrollbar {
        width: 12px;
    }

    .wp-full-overlay-sidebar-content::-webkit-scrollbar-track {
        background: var(--customizer-light-grey);
        /* border-radius: 6px; */
    }

    .wp-full-overlay-sidebar-content::-webkit-scrollbar-thumb {
        background: #888;
        /* border-radius: 6px; */
        /* border: 3px solid #f1f1f1; */
    }

    .wp-full-overlay-sidebar-content::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* Firefox */
    .wp-full-overlay-sidebar-content {
        scrollbar-width: thin;
        scrollbar-color: var(--customizer-dark-grey) #00000000;
    }

    .customize-section-description-container {
        margin: 0;
    }

    .components-popover.ian-dropdown-popover .components-popover__content {
        width: 350px;
        padding: 15px;
    }

    .customize-control .ian-dropdown-container {
        width: 100%;
    }

    .customize-control .ian-dropdown-container .highlight {
        background-color: #fff;
        color: #1e1e1e;
        height: 36px;
        display: flex;
        align-items: center;
        padding: 0 12px;
        outline: 1px solid #8c8f94;
        gap: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: default;
        field-sizing: content;
    }

    .customize-control .ian-dropdown-container .highlight:hover {
        outline: 1px solid var(--customizer-color);
        background: var(--customizer-hover);
    }

    .components-popover.ian-dropdown-popover .components-color-picker,
    .components-popover.ian-dropdown-popover .components-color-picker .react-colorful,
    .components-popover.ian-dropdown-popover .components-color-picker .react-colorful > * {
        width: 100%;
    }

    .components-popover.ian-dropdown-popover .components-color-picker:last-child .components-flex.components-h-stack:first-child {
        outline: 1px solid #cccccc;
        height: 40px;
    }

    .components-popover.ian-dropdown-popover .components-color-picker:last-child .components-flex:last-child {
        padding-inline: 0;
        padding-bottom: 0;
    }

    .components-popover.ian-dropdown-popover .components-color-picker:last-child .components-flex .components-input-control__container {
        width: 100%;
    }

    .components-popover.ian-dropdown-popover .components-color-picker:last-child .components-flex:first-child .components-select-control .components-input-control__backdrop{
        outline: unset;
    }

    .components-popover.ian-dropdown-popover .components-color-picker:last-child .components-flex .components-input-control__container {
        width: 100%;
    }
    .components-popover.ian-dropdown-popover .components-color-picker:last-child .components-flex .components-input-control__container .components-input-control__backdrop {
        outline: 1px solid #cccccc;
        border: unset;
    }

    .components-popover.components-dropdown__content.ian-dropdown-popover .ian-select-wrapper__control:hover,
    .components-popover.components-dropdown__content.ian-dropdown-popover .components-select-control__input:hover {
        outline: 1px solid var(--customizer-color);
        border-color: var(--customizer-color);
    }

    .customize-control.ian-show:last-child {
        border-bottom: unset;
    }

    .customize-control .ian-color-indicator {
        border-radius: unset;
        height: 100%;
        width: 100%;
    }

    #customize-theme-controls .control-section.open {
        border-bottom: unset;
    }

/*
=========================
MARK: 2.0 Radio Image
=========================
*/
    .customize-control-radio-image .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .customize-control-radio-image .control-content .components-radio-control__option {
        display: block;
        position: relative;
    }

    .customize-control-radio-image .control-content .components-base-control__label {
        margin-bottom: 0;
    }

    .customize-control-radio-image .control-content .components-radio-control__label {
        display: block;
        height: 100%;
        padding: 4px;
        border-radius: 5px;
        outline: 1px solid var(--customizer-light-grey);
    }

    .customize-control-radio-image .control-content .components-radio-control__label img {
        height: 100%;
        object-fit: contain;
        width: 100%;
        display: block;
    }

    .customize-control-radio-image .control-content .components-radio-control__label:hover {
        outline: 1px solid var(--customizer-color);
        background: var(--customizer-hover);
    }

    .customize-control-radio-image .control-content .components-radio-control__input:checked + .components-radio-control__label {
        outline-color: var(--customizer-color);
        background: var(--customizer-hover);
    }

    .customize-control-radio-image .control-content .components-radio-control__input:checked + .components-radio-control__label::after,
    .customize-control-radio-image .control-content .components-radio-control__label:hover::after {
        content: '\f147';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-family: "Dashicons";
        font-size: 30px;
        color: var(--customizer-color);
    }

    .customize-control-radio-image .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

/*
=========================
MARK: 3.0 Section Tab
=========================
*/
    .customize-pane-child.control-section .customize-control.customize-control-section-tab {
        margin-inline: -12px;
        width: calc(100% + 24px);
        padding: 0;
        border-bottom: none;
    }

    .customize-control-section-tab .control-content .components-base-control__label {
        margin-bottom: 0;
    }

    .customize-control-section-tab .components-radio-control__option {
        display: block;
    }

    .customize-control-section-tab .content-wrapper .components-radio-control__group-wrapper {
        gap: 0;
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        background: #fff;
    }
    
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab {
        text-align: center;
        padding: 15px;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
        background: var(--customizer-light-grey);
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab:hover {
        color: var(--customizer-color);
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab.active {
        background: #fff;
        color: var(--customizer-color);
    }

/*
=========================
MARK: 4.0 Icon Picker
=========================
*/
    .customize-control-icon-picker .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    .customize-control-icon-picker .buttons-wrapper .button-item {
        width: 100%;
        display: block;
        text-align: center;
    }

    .customize-control-icon-picker .buttons-wrapper .components-button.button-item {
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 7px;
        align-items: center;
    }

    .customize-control-icon-picker .buttons-wrapper .components-button.button-item .icon-picker-dashicon {
        font-size: 17px;
        height: unset;
        width: unset;
    }

    .icon-picker-popover .image-dropdown .preview-area {
        width: 100%;
        height: 130px;
        outline: 2px dashed var(--customizer-dark-grey);
        margin-bottom: 10px;
        position: relative;
    }

    .icon-picker-popover .image-dropdown .preview-area .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        background: #f0f0f094;
        display: none;
    }

    .icon-picker-popover .image-dropdown .preview-area:hover .overlay {
        display: block;
    }

    .icon-picker-popover .image-dropdown .preview-area .image-preview {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .icon-picker-popover .image-dropdown .preview-area .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 22px;
    }

    .icon-picker-popover .image-dropdown .buttons-area {
        display: flex;
        gap: 10px;
    }

    .icon-picker-popover .image-dropdown .buttons-area .button-item {
        display: block;
        text-align: center;
        width: 100%;
    }

    .icon-picker-popover .image-dropdown .buttons-area .button-item.remove {
        color: #ff0000;
        box-shadow: inset 0 0 0 1px #ff0000;
    }

    .icon-picker-popover .icon-dropdown {
        padding: 10px;
        background: #fff;
        outline: 1px solid var(--customizer-light-grey);
    }

    .icon-picker-popover .icon-dropdown .icon-collection {
        height: 200px !important;
        margin-top: 10px;
    }

    .icon-picker-popover .icon-dropdown .icon-collection .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .icon-picker-popover .icon-dropdown .icon-btn {
        display: block;
        padding: 0;
    }

    .icon-picker-popover.icon .components-popover__content {
        padding: 0;
    }

    .components-popover.ian-dropdown-popover.icon-picker-popover .components-popover__content {
        width: 300px
    }

/*
=========================
MARK: 5.0 Box Shadow
=========================
*/
    .components-popover.box-shadow-popover .components-popover__content > .box-shadow-block {
        margin-bottom: 15px;
    }

    .components-popover.box-shadow-popover .box-shadow-block.flex-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .components-popover.box-shadow-popover .box-shadow-block:last-child {
        margin-bottom: unset !important;
    }

    .components-popover.box-shadow-popover .box-shadow-block .block-head {
        margin-bottom: 5px;
        display: block;
        color: #000;
    }

    .components-popover.box-shadow-popover .box-shadow-block.color-block,
    .components-popover.box-shadow-popover .box-shadow-block.toggle-block {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: left;
    }

    .components-popover.box-shadow-popover .box-shadow-block.color-block {
        justify-content: space-between;
    }

    .components-popover.box-shadow-popover .box-shadow-block.color-block .component-color-indicator {
        border-radius: 5px;
        height: 32px;
        width: 60px;
    }

    .components-popover.box-shadow-popover .box-shadow-block.color-block .block-head,
    .components-popover.box-shadow-popover .box-shadow-block.toggle-block .block-head {
        margin-bottom: unset;
    }

    .components-popover.box-shadow-popover .box-shadow-block .components-range-control .components-input-control__container {
        width: calc(60px);
    }

    .components-popover.box-shadow-popover .box-shadow-block .components-range-control .components-input-control__backdrop {
        outline: 1px solid #cccccc;
        inset: 0px;
        border: unset;
    }

    .components-popover.box-shadow-popover .box-shadow-block .components-range-control .components-input-control__input {
        height: 32px;
        min-height: 32px;
    }

/*
=========================
MARK: 6.0 Text
=========================
*/
    .customize-control-text .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    .customize-control-ian-text .content-wrapper .components-text-control__input:not(:focus):hover {
        outline: 1px solid var(--customizer-color);
        border: none;
        box-shadow: unset;
    }

/*
=========================
MARK: 7.0 Typography
=========================
*/
    .customize-control-typography .ian-menu-list {
        padding: 0;
    }

    .customize-control-typography .family-collection {
        width: 100%;
    }

    .ian-dropdown-popover.typography-popover .typography-block:not(:last-child) {
        margin-bottom: 15px;
    }

    .ian-dropdown-popover.typography-popover .typography-block .label {
        display: block;
        color: #000;
    }

    .ian-dropdown-popover.typography-popover .typography-block > .label {
        margin-bottom: 5px;
    }

    .ian-dropdown-popover.typography-popover .typography-block .block-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .ian-dropdown-popover.typography-popover .typography-block .range-control {
        display: flex;
        align-items: center;
    }
    
    .ian-dropdown-popover.typography-popover .typography-block .components-range-control.ian-range-item .reset-button .dashicon {
        font-size: 15px;
    }
    
    .ian-dropdown-popover.typography-popover .typography-block .range-control.single-item .ian-range-item.components-range-control {
        width: 100%;
    }
    
    .ian-dropdown-popover.typography-popover .typography-block .range-control:not(.single-item) .ian-range-item.components-range-control {
        width: 90%;
    }

    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-select-control {
        flex: 1;
    }

    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-range-control .components-number-control,
    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-range-control .components-number-control {
        margin-left: 5px !important;
    }

    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-range-control .components-input-control__input,
    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-select-control .components-select-control__input {
        height: 32px;
        min-height: 32px;
    }

    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-range-control .components-input-control__container {
        width: calc(60px);
    }

    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-range-control .components-input-control__backdrop,
    .ian-dropdown-popover.typography-popover .typography-block .range-control .ian-range-item.components-select-control .components-input-control__backdrop {
        outline: 1px solid #cccccc;
        border: unset;
    }

    .ian-dropdown-popover.typography-popover .typography-block .typography-select {
        width: 100%;
        outline: 1px solid #cccccc;
        border-radius: 4px;
    }

    .ian-dropdown-popover.typography-popover .typography-block .ian-select-wrapper__menu {
        z-index: 9;
    }

/*
=========================
MARK: 8.0 Toggle Control
=========================
*/
    .customize-control-toggle-button .control-content {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

/*
=========================
MARK: 9.0 Number
=========================
*/
    .customize-control-ian-number .control-content .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    .customize-control-ian-number .content-wrapper .components-select-control.ian-range-item {
        flex: 1;
    }

    .customize-control-ian-number .content-wrapper .components-range-control.ian-range-item {
        width: 90%;
    }

    .customize-control-ian-number .content-wrapper .components-range-control .components-input-control .components-input-control__container {
        width: calc(60px);
    }

    .customize-control-ian-number .content-wrapper .components-range-control .components-input-control .components-input-control__container .components-input-control__input,
    .customize-control-ian-number .content-wrapper .components-range-control .components-range-control__root,
    .customize-control-ian-number .content-wrapper .components-select-control .components-input-control__container .components-select-control__input {
        height: 32px;
        min-height: 32px;
    }

    .customize-control-ian-number .content-wrapper .components-range-control .components-input-control .components-input-control__container .components-input-control__backdrop,
    .customize-control-ian-number .content-wrapper .components-select-control .components-input-control__container .components-input-control__backdrop {
        outline: 1px solid #8c8f94;
        border: unset;
        border-radius: unset;
    }

/*
=========================
MARK: 10.0 Border
=========================
*/
    .customize-control-border .control-content .content-wrapper {
        display: grid;
        grid-template-columns: 16% 1fr;
        align-items: center;
        gap: 5px;
    }

    .customize-control-border .control-content .content-wrapper .border-block.color {
        width: 100%;
        height: 100%;
    }

    .customize-control-border .control-content .content-wrapper .border-block.color > .ian-dropdown-container{
        height: 100%;
    }

    .customize-control-border .control-content .content-wrapper .border-block.width {
        display: flex;
        align-items: end;
        gap: 5px;
        grid-column: 1 / span 2;
        margin-top: 5px;
    }

    .customize-control-border .control-content .content-wrapper .border-block.style .highlight {
        width: 100%;
        border-radius: unset;
    }

    .customize-control-border .content-wrapper .border-block.width .ian-number-control-container {
        flex: 1;
    }

    .customize-control-border .content-wrapper .border-block.width .ian-number-control-container label {
        display: block;
        margin-bottom: 5px;
        font-size: 11px;
    }

    .customize-control-border .content-wrapper .border-block.width .ian-number-control-container label ~ .ian-input.number {
        outline: 1px solid #8c8f94;
        border: unset;
        border-radius: unset;
    }

    .customize-control-border .content-wrapper .border-block.width .components-button {
        padding: 5px;
        height: 30px;
        min-height: 30px;
    }

    .components-popover.ian-dropdown-popover.ian-border-popover .components-popover__content {
        width: 300px;
        padding: 0;
    }

    .ian-border-popover .components-popover__content .dropdown-content {
        margin: 0;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item {
        padding: 10px;
        margin: 0;
        display: flex;
        gap: 10px;
        justify-content: start;
        align-items: center;
        width: 100%;
        box-shadow: unset;
        border-radius: unset;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item .label,
    .ian-border-container .highlight .label {
        width: 30%;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item .style,
    .ian-border-container .highlight .style {
        flex: 1;
        height: 20px;
        width: 10px;
    }

    .ian-border-container .highlight.none .label {
        justify-self: center;
        flex: 1;
    }

    .ian-border-container .highlight.none .style {
        display: none;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item .style.solid,
    .ian-border-container .highlight.solid .style {
        border: 1px solid black;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item .style.dashed,
    .ian-border-container .highlight.dashed .style {
        border: 1px dashed black;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item .style.dotted,
    .ian-border-container .highlight.dotted .style {
        border: 1px dotted black;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item .style.double,
    .ian-border-container .highlight.double .style {
        border: 4px double black;
    }

    .ian-border-popover .components-popover__content .dropdown-content .item.active,
    .ian-border-popover .components-popover__content .dropdown-content .item:hover {
        outline: 1px solid var(--customizer-color);
        background: var(--customizer-hover);
    }

/*
=========================
MARK: 11.0 Dimension
=========================
*/
    .customize-control-dimension .control-content .content-wrapper {
        display: flex;
        align-items: end;
        gap: 5px;
    }

    .customize-control-dimension .content-wrapper .ian-number-control-container {
        flex: 1;
    }

    .customize-control-dimension .content-wrapper .ian-number-control-container label {
        display: block;
        margin-bottom: 5px;
        font-size: 11px;
    }

    .customize-control-dimension .content-wrapper .ian-number-control-container label ~ .ian-input.number {
        outline: 1px solid #8c8f94;
        border: unset;
        border-radius: unset;
    }

    .customize-control-dimension .content-wrapper .components-button {
        padding: 5px;
        height: 30px;
        min-height: 30px;
    }

/*
=========================
MARK: 12.0 Radio Tab
=========================
*/
    .customize-control-radio-tab .control-content.is-block {
        gap: 40px;
    }

    .customize-control-radio-tab .control-content.is-block .content-head {
        flex: 1;
    }

    .customize-control-radio-tab .control-content.is-block .content-wrapper {
        display: flex;
        align-items: center;
        flex: 1 1;
    }

    .customize-control-radio-tab .control-content:not(.is-block) .content-wrapper {
        display: flex;
    }

    .customize-control-radio-tab .control-content:not(.is-block) .content-wrapper > .components-button {
        flex: 1;
        justify-content: center;
    }

    .customize-control-radio-tab .control-content.is-block .content-wrapper .components-button {
        flex: 1;
        display: block;
        text-align: center;
    }

/*
=========================
MARK: 13.0 Color
=========================
*/
    .customize-control-ian-color .control-content.is-block .control-head {
        flex: 1;
    }

    .customize-control-ian-color .control-content.is-block .content-wrapper:not(.is-hover) {
        width: 16%;
        height: 36px;
    }

    .customize-control-ian-color .control-content.is-block .content-wrapper.is-hover {
        width: 36%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 36px;
        gap: 5px;
    }

    .customize-control-ian-color .control-content.is-block .ian-dropdown-container {
        height: 100%;
    }

    .ian-color-dropdown-popover .color-container .container-head {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        align-items: center;
    }

    .ian-color-dropdown-popover .color-container .container-head .color-tab {
        flex: 1;
        justify-content: center;
    }

/*
=========================
MARK: 14.0 Builder
=========================
*/
    .ian-builder-section {
        display: none !important;
    }

    .customize-pane-child.control-section .customize-control.customize-control-ian-builder {
        padding: 0;
        border-bottom: unset;
    }

    .customize-control-ian-builder .content-wrapper {
        position: fixed;
        bottom: 0;
        left: clamp(300px, 18%, 500px);
        right: 0;
        background: #2271b1;
    }

    .customize-control-ian-builder .content-wrapper .builder-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        gap: 1px;
    }

    .customize-control-ian-builder .content-wrapper .builder-wrapper .row-settings {
        width: 40px;
        height: 100%;
        background: white;
        margin-right: 10px;
        display: block;
        border-radius: 6px;
    }

    .customize-control-ian-builder .content-wrapper .builder-footer {
        display: flex;
        height: 45px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--customizer-dark-grey);
        background: #02467d;
        color: #F7F6E5;
    }

    .customize-control-ian-builder .content-wrapper .builder-footer .info-actions-wrapper {
        padding-left: 10px;
    }

    .customize-control-ian-builder .content-wrapper .builder-footer .show-hide-button {
        border-left: 1px solid var(--customizer-dark-grey);
        color: #F7F6E5;
        padding: 0 10px;
        box-shadow: unset;
    }

    .customize-control-ian-builder .content-wrapper .row {
        display: grid;
        grid-template-columns: 40px repeat(3, 1fr);
        gap: 1px;
    }

    .customize-control-ian-builder .content-wrapper .row .column {
       padding: 8px;
        background: #fff;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 40px;
        min-height: 40px;
        align-items: center;
    }

    .customize-control-ian-builder .content-wrapper .widget-item:not(.placeholder),
    .customize-control-ian-builder .content-wrapper .overlay {
        cursor: grab;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        align-items: center;
        min-width: 120px;
        width: 120px;
        justify-content: center;
        font-weight: 500;
        height: 30px;
        min-height: 30px;
    }

    .customize-control-ian-builder .content-wrapper .widget-item.placeholder {
        width: 100%;
        min-width: 100%;
    }

    .customize-control-ian-builder .content-wrapper .overlay {
        outline: 1px solid var(--customizer-dark-grey);
        border-radius: 4px;
    }

    .customize-control-ian-builder .content-wrapper .widget-item:not(.placeholder) > span {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .customize-control-ian-builder .content-wrapper .widget-item:not(.placeholder) .label {
        width: 70%;
        border: 1px solid var(--customizer-dark-grey);
        border-radius: 4px 0 0 4px;
    }

    .customize-control-ian-builder .content-wrapper .widget-item:not(.placeholder) .label:hover {
        background: var(--customizer-hover);
        cursor: pointer;
        border-color: var(--customizer-color);
    }

    .customize-control-ian-builder .content-wrapper .widget-item:not(.placeholder) > .dashicon {
        flex: 1;
        border-width: 1px 1px 1px 0;
        border-color: var(--customizer-dark-grey);
        border-style: solid ;
        border-radius: 0 4px 4px 0;
        transition: .3s;
    }

    .customize-control-ian-builder .content-wrapper .widget-item:not(.placeholder) > .dashicon:hover {
        background: #ff0000;
        border-color: #ff0000;
        color: #fff;
        cursor: default;
    }

    .components-popover.ian-dropdown-popover.builder-popover .components-popover__content {
        width: unset;
    }

    .builder-popover .components-popover__content .widget-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .builder-popover .components-popover__content .widget-wrapper .widget-item {
        flex-direction: column;
        gap: 3px;
        height: unset;
        padding: 7px;
        color: #50575e;
        outline: 1px solid var(--customizer-light-grey);
    }

    .builder-popover .components-popover__content .widget-wrapper .widget-item:hover > span {
        color: var(--customizer-color);
    }

    .builder-popover .components-popover__content .widget-wrapper .widget-item:hover {
        outline: 1px solid var(--customizer-color);
    }

/*
=========================
MARK: 15.0 Heading Toggle
=========================
*/
    .customize-pane-child.control-section .customize-control.customize-control-heading-toggle {
        border-bottom: unset;
        padding-bottom: 0;
    }

    .customize-control-heading-toggle .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--customizer-light-grey);
        margin-inline: -12px;
        padding: 0 12px;
    }

    .customize-control-heading-toggle .content-wrapper:hover > * {
        color: var(--customizer-color);
        cursor: default;
    }

    .customize-control-heading-toggle .content-wrapper > * {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }