/*
    1.0 Normalize
    2.0 Radio Image
    3.0 Section Tab
*/

/*
=========================
MARK: 1.0 Normalize
=========================
*/
    .customize-control.ian-show {
        display: block;
    }

    .customize-control.ian-hide {
        display: none;
    }

/*
=========================
MARK: 2.0 Radio Image
=========================
*/
    .customize-control-radio-image .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        gap: 15px;
    }

    .customize-control-radio-image .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

/*
=========================
MARK: 3.0 Section Tab
=========================
*/
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        background: #fff;
    }
    
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab {
        text-align: center;
        padding: 10px;
    }
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab.active {
        background: #7171711a;
    }