/*
    1.0 Normalize
    2.0 Radio Image
    3.0 Section Tab
    4.0 Icon Picker
    5.0 Box Shadow
    6.0 Text
*/

/*
=========================
MARK: 1.0 Normalize
=========================
*/
    .customize-control.ian-show {
        display: block;
    }

    .customize-control.ian-hide {
        display: none;
    }

    .customize-control-radio-image,
    .customize-control-section-tab,
    .customize-control-icon-picker,
    .customize-control-text,
    .customize-control-box-shadow {

    }

/*
=========================
MARK: 2.0 Radio Image
=========================
*/
    .customize-control-radio-image .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        gap: 15px;
    }

    .customize-control-radio-image .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

/*
=========================
MARK: 3.0 Section Tab
=========================
*/
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper {
        display: grid;
        grid-template-columns: repeat( 2, 1fr );
        background: #fff;
    }
    
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper input[type="radio"] {
        display: none;
    }

    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab {
        text-align: center;
        padding: 10px;
    }
    .customize-control-section-tab .control-content .components-radio-control__group-wrapper .components-radio-control__option .tab.active {
        background: #7171711a;
    }

/*
=========================
MARK: 4.0 Icon Picker
=========================
*/
    .customize-control-icon-picker .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    .customize-control-icon-picker .buttons-wrapper .button-item {
        flex: 1;
        display: block;
        text-align: center;
    }

    .customize-control-icon-picker .image-dropdown .preview-area {
        width: 100%;
        height: 130px;
        border: 2px dashed #000;
        margin: 10px 0;
        position: relative;
    }

    .customize-control-icon-picker .image-dropdown .preview-area .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        background: #8080805a;
        display: none;
    }

    .customize-control-icon-picker .image-dropdown .preview-area:hover .overlay {
        display: block;
    }

    .customize-control-icon-picker .image-dropdown .preview-area .image-preview {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .customize-control-icon-picker .image-dropdown .preview-area .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 22px;
    }

    .customize-control-icon-picker .image-dropdown .buttons-area {
        display: flex;
        gap: 10px;
    }

    .customize-control-icon-picker .image-dropdown .buttons-area .button-item {
        display: block;
        text-align: center;
        width: 100%;
    }

    .customize-control-icon-picker .image-dropdown .buttons-area .button-item.remove {
        color: #ff0000;
        box-shadow: inset 0 0 0 1px #ff0000;
    }

    .customize-control-icon-picker .icon-dropdown {
        margin-top: 10px;
        padding: 10px;
        background: #fff;
    }

    .customize-control-icon-picker .icon-dropdown input[type="search"] {
        margin-bottom: 10px;
    }

    .customize-control-icon-picker .icon-dropdown .icon-collection {
        height: 200px !important;
    }

    .customize-control-icon-picker .icon-dropdown .icon-collection .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }

    .customize-control-icon-picker .icon-dropdown .icon-btn {
        display: block;
        padding: 0;
    }

/*
=========================
MARK: 6.0 Text
=========================
*/
    .customize-control-text .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }